@model IEnumerable<Transportation.Application.ViewModels.ComposicaoVagaoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Vagões anexados</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Composicao.ComposicaoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vagao.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Composicao.ComposicaoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vagao.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
    </tr>
}

</table>
