@model IEnumerable<Transportation.Application.ViewModels.TremViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Trens</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prefixo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prefixo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TremId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TremId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TremId })
        </td>
    </tr>
}

</table>
